<div class="alert alert-info" role="alert">
  <%= notice %>
</div>

<h1>Blogs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td>
          <%= button_to blog_path(blog), method: :get, class: 'btn btn-info' do %>
            <span>詳細</span>
          <% end %>
        </td>
        <td>
          <%= button_to edit_blog_path(blog), method: :get, class: 'btn btn-success' do %>
            <span>編集</span>
          <% end %>
        </td>
        <td>
          <%= button_to blog_path(blog), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do %>
            <span>削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to new_blog_path, method: :get, class: 'btn btn-warning' do %>
  <span>作成</span>
<% end %>
